<div class="title-content">
  <div class="title">
    <h1>Antonio Sanchez</h1>
    <p>FULL-STACK DEVELOPER | PROJECT MANAGER | MASTER IN BUSINESS AND ADMINISTRATION</p>
    <%= cl_image_tag "antonio", class: "avatar-large" %>
    <p>"Always learning, and improving"</p>
  </div>
</div>
<div class="content-body">
  <div class="title">
    PROJECTS
  </div>
  <div class="content-cards">
    <div class="cards">
      <div class="cards-photo">
        <%= cl_image_tag "greek-gods", class: "photo" %>
      </div>
      <div class="cards-info">
        <h3>Greek Gods</h3>
        <p>Project that allows anyone to pray to the lego greek gods, either to smite your enemies or to ask for love</p>
      </div>
    </div>
    <div class="cards">
      <div class="cards-photo">
        <%= cl_image_tag "woofer_rdioqm", class: "photo" %>
      </div>
      <div class="cards-info">
        <h3>Woofer</h3>
        <p>Mobile app that allows users to match their pets with other pets and organize playdates in nearby parks</p>
      </div>
    </div>
    <div class="cards">
      <div class="cards-photo">
        <%= cl_image_tag "famima", class: "photo" %>
      </div>
      <div class="cards-info">
        <h3>FAMIMA</h3>
        <p>Service that allows users to rent a actor to perform as a family member for different purposes </p>
      </div>
    </div>
    <div class="cards">
      <div class="cards-photo">
        <%= cl_image_tag "cocktail", class: "photo" %>
      </div>
      <div class="cards-info">
        <h3>Pshychoelic Cocktails</h3>
        <p>Project that allows users to create cocktails and add the respective recipe doses</p>
      </div>
    </div>
    <div class="cards">
      <div class="cards-photo">
        <%= cl_image_tag "cocktail", class: "photo" %>
      </div>
      <div class="cards-info">
        <h3>Starligh hotel</h3>
        <p>On going web and mobile app to manage hotel sales, inventory, and reservations from users</p>
      </div>
    </div>
  </div>