<div class="title-content">
  <div class="title">
    <h1>Antonio Sanchez</h1>
    <p>FULL-STACK DEVELOPER | PROJECT MANAGER | MASTER IN BUSINESS AND ADMINISTRATION</p>
    <%= cl_image_tag "antonio", class: "avatar-large" %>
    <p>"Always learning, and improving"</p>
  </div>
</div>
<div class="content-body">
  <div class="title">
    PROJECTS
  </div>
  <div class="content-cards">
    <div class="cards-outer">
      <div class="cards">
        <div class="cards-photo">
          <%= cl_image_tag "greek-gods", class: "photo" %>
        </div>
        <div class="cards-info">
          <h3>Greek Gods</h3>
          <p class="cards-info-sub">UX Design and Full Stack Developer</p>
          <p>Project that allows anyone to pray to the lego greek gods, either to smite your enemies or to ask for love</p>
          <div class="icons">
            <i class="far fa-gem icons"></i>
            <i class="fab fa-html5 icons"></i>
            <i class="fab fa-css3-alt icons"></i>
            <i class="fab fa-github icons"></i>
            <i class="fab fa-bootstrap icons"></i>
          </div>
          <div class="box">
            <a href="https://greekgods2.herokuapp.com/" class="btn btn-white btn-animation-1" target="_blank">Visit Site!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-line"></div>
    <div class="cards-outer">
      <div class="cards">
        <div class="cards-photo-woofer">
          <%= cl_image_tag "woofer", class: "photo2", height: 200, width: 100 %>
        </div>
        <div class="cards-info">
          <h3>Woofer</h3>
          <p class="cards-info-sub">UX design, Product manager, and Front End developer</p>
          <p>Mobile app that allows users to match their pets with other pets and organize playdates in nearby parks</p>
          <div class="icons">
            <i class="far fa-gem icons"></i>
            <i class="fab fa-html5 icons"></i>
            <i class="fab fa-css3-alt icons"></i>
            <i class="fab fa-js-square icons"></i>
            <i class="fab fa-github icons"></i>
            <i class="fab fa-bootstrap icons"></i>
          </div>
          <div class="box">
            <a href="woofer.fun" class="btn btn-white btn-animation-1" target="_blank">Visit Site!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-line"></div>
    <div class="cards-outer">
      <div class="cards">
        <div class="cards-photo">
          <%= cl_image_tag "famima", class: "photo" %>
        </div>
        <div class="cards-info">
          <h3>FAMIMA</h3>
          <p class="cards-info-sub">UX design, and Front End developer</p>
          <p>Service that allows users to rent a actor to perform as a family member for different purposes </p>
          <div class="icons">
            <i class="far fa-gem icons"></i>
            <i class="fab fa-html5 icons"></i>
            <i class="fab fa-css3-alt icons"></i>
            <i class="fab fa-js-square icons"></i>
            <i class="fab fa-github icons"></i>
            <i class="fab fa-bootstrap icons"></i>
          </div>
          <div class="box">
            <a href="http://rails-rent-family.herokuapp.com/" class="btn btn-white btn-animation-1" target="_blank">Visit Site!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-line"></div>
    <div class="cards-outer">
      <div class="cards">
        <div class="cards-photo">
          <%= cl_image_tag "cocktail", class: "photo" %>
        </div>
        <div class="cards-info">
          <h3>Pshychoelic Cocktails</h3>
          <p class="cards-info-sub">UX Design and Full Stack Developer</p>
          <p>Project that allows users to create cocktails and add the respective recipe doses</p>
          <div class="icons">
            <i class="far fa-gem icons"></i>
            <i class="fab fa-html5 icons"></i>
            <i class="fab fa-css3-alt icons"></i>
            <i class="fab fa-github icons"></i>
            <i class="fab fa-bootstrap icons"></i>
          </div>
          <div class="box">
            <a href="https://mister-cocktail-anto.herokuapp.com/" class="btn btn-white btn-animation-1" target="_blank">Visit Site!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-line"></div>
    <div class="cards-outer">
      <div class="cards">
        <div class="cards-photo">
          <%= cl_image_tag "cocktail", class: "photo" %>
        </div>
        <div class="cards-info">
          <h3>Starligh hotel</h3>
          <p class="cards-info-sub">UX Design and Full Stack Developer</p>
          <p>On going web and mobile app to manage hotel sales, inventory, and reservations from users</p>
          <div class="icons">
            <i class="far fa-gem icons"></i>
            <i class="fab fa-html5 icons"></i>
            <i class="fab fa-css3-alt icons"></i>
            <i class="fab fa-js-square icons"></i>
            <i class="fab fa-github icons"></i>
            <i class="fab fa-bootstrap icons"></i>
          </div>
          <i class="fas fa-tools icons2"> Under Construction!</i>
        </div>
      </div>
    </div>
  </div>