<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Antonio Sanchez</title>
    <meta name=“description” content=“Full-Stack Developer, Project Manager, and Master in Business and Aministration”>
    <meta name=“keywords” content=“Antonio Sanchez, developer, Ruby on Rails, CSS, HTML, JavaScript”>
    <meta name=“author” content=“Antonio Sanchez”>
    <link rel="shortcut icon" href="https://res.cloudinary.com/antonioist/image/upload/v1588832877/logo_antonio_up_copy_upbiqi.png" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>